form {
	margin-top: 1.5rem;
}

form input[name="city"],
form input[name="country"] {
	background-color: transparent;
	color: #05386b;
	border: none;
	border-bottom: 2px solid #379683;
	border-radius: 0;
}

.btn {
	background-color: #05386b !important;
	color: #fff;
	border: none !important;
	cursor: pointer;
	// Small devices (landscape phones, 576px and up)
	@media (max-width: 576px) {
		width: 100%;
	}
	@media (max-width: 768px) {
		width: 100%;
	}
}

.btn:focus {
	border: none !important;
}
