.container {
	margin-top: 3rem;
	margin-bottom: 3rem;
}

form input,
.container::-webkit-input-placeholder {
	color: #05386b !important;
}

form input:focus {
	background-color: transparent !important;
	box-shadow: none !important;
}

.description {
	font-size: 1.5rem;
}
